*.exe
*.gcda
*.gcno
*.gcov
*.lo
*.o
*~
.deps/
.libs/
/.version
/ABOUT-NLS
/ChangeLog
/GNUmakefile
/INSTALL
/README-release
/TAGS
/aclocal.m4
/autom4te.cache/
/build-aux/.gitignore
/build-aux/ar-lib
/build-aux/compile
/build-aux/depcomp
/build-aux/mdate-sh
/build-aux/missing
/build-aux/test-driver
/build-aux/texinfo.tex
/config.h
/config.h.in
/config.log
/config.status
/configure
/doc/.gitignore
/doc/coverage/
/doc/cyclo/cyclo-gsasl.html
/doc/doxygen/Doxyfile
/doc/doxygen/html/
/doc/doxygen/latex/
/doc/gsasl-api-error-labels.texi
/doc/gsasl.1
/doc/gsasl.aux
/doc/gsasl.cp
/doc/gsasl.cps
/doc/gsasl.dvi
/doc/gsasl.fn
/doc/gsasl.fns
/doc/gsasl.html
/doc/gsasl.info
/doc/gsasl.info-1
/doc/gsasl.info-2
/doc/gsasl.ky
/doc/gsasl.log
/doc/gsasl.pdf
/doc/gsasl.pg
/doc/gsasl.ps
/doc/gsasl.t2d/
/doc/gsasl.t2p/
/doc/gsasl.toc
/doc/gsasl.tp
/doc/gsasl.vr
/doc/man/
/doc/print-errors
/doc/print-errors.o
/doc/reference/gsasl-decl-list.txt
/doc/reference/gsasl-decl.txt
/doc/reference/gsasl-decl.txt.bak
/doc/reference/gsasl-overrides.txt
/doc/reference/gsasl-sections.txt
/doc/reference/gsasl-undeclared.txt
/doc/reference/gsasl-undocumented.txt
/doc/reference/gsasl-unused.txt
/doc/reference/gsasl.actions
/doc/reference/gsasl.args
/doc/reference/gsasl.hierarchy
/doc/reference/gsasl.interfaces
/doc/reference/gsasl.pdf
/doc/reference/gsasl.prerequisites
/doc/reference/gsasl.signals
/doc/reference/gsasl.types
/doc/reference/gtkdoc-check.log
/doc/reference/gtkdoc-check.test
/doc/reference/gtkdoc-check.trs
/doc/reference/html-build.stamp
/doc/reference/html.stamp
/doc/reference/html/
/doc/reference/pdf-build.stamp
/doc/reference/pdf.stamp
/doc/reference/scan-build.stamp
/doc/reference/setup-build.stamp
/doc/reference/sgml-build.stamp
/doc/reference/sgml.stamp
/doc/reference/test-suite.log
/doc/reference/tmpl-build.stamp
/doc/reference/tmpl.stamp
/doc/reference/tmpl/
/doc/reference/version.xml
/doc/reference/xml/
/doc/stamp-vti
/doc/texi/
/doc/version.texi
/examples/client
/examples/client-callback
/examples/client-callback.o
/examples/client-mech
/examples/client-mech.o
/examples/client-serverfirst
/examples/client-serverfirst.o
/examples/client-xmpp-saml20
/examples/client-xmpp-saml20.o
/examples/client.o
/examples/openid20/smtp-server-openid20
/examples/openid20/smtp-server-openid20.o
/examples/saml20/gsasl-saml20-request
/examples/saml20/gsasl-saml20-request.o
/examples/saml20/smtp-server-saml20
/examples/saml20/smtp-server-saml20.o
/examples/server-xmpp-saml20
/examples/server-xmpp-saml20.o
/examples/smtp-server
/examples/smtp-server.o
/gl/.gitignore
/gl/alloca.h
/gl/arpa/inet.h
/gl/errno.h
/gl/fcntl.h
/gl/getopt-cdefs.h
/gl/getopt.h
/gl/iconv.h
/gl/iconv_open-aix.h
/gl/iconv_open-hpux.h
/gl/iconv_open-irix.h
/gl/iconv_open-osf.h
/gl/iconv_open-solaris.h
/gl/iconv_open-zos.h
/gl/inttypes.h
/gl/libgl.la
/gl/limits.h
/gl/locale.h
/gl/netdb.h
/gl/netinet/
/gl/poll.h
/gl/signal.h
/gl/stdint.h
/gl/stdio.h
/gl/stdlib.h
/gl/string.h
/gl/sys/
/gl/time.h
/gl/unistd.h
/gl/unistr.h
/gl/unistr/
/gl/unitypes.h
/gl/wchar.h
/gl/wctype.h
/gltests/
/gltests/.gitignore
/gsasl-*.tar.gz*
/gtk-doc.make
/lib/anonymous/client.lo
/lib/anonymous/client.o
/lib/anonymous/libgsasl-anonymous.la
/lib/anonymous/mechinfo.lo
/lib/anonymous/mechinfo.o
/lib/anonymous/server.lo
/lib/anonymous/server.o
/lib/cram-md5/challenge.lo
/lib/cram-md5/challenge.o
/lib/cram-md5/client.lo
/lib/cram-md5/client.o
/lib/cram-md5/digest.lo
/lib/cram-md5/digest.o
/lib/cram-md5/libgsasl-cram_md5.la
/lib/cram-md5/mechinfo.lo
/lib/cram-md5/mechinfo.o
/lib/cram-md5/server.lo
/lib/cram-md5/server.o
/lib/digest-md5/client.lo
/lib/digest-md5/client.o
/lib/digest-md5/digesthmac.lo
/lib/digest-md5/digesthmac.o
/lib/digest-md5/free.lo
/lib/digest-md5/free.o
/lib/digest-md5/getsubopt.lo
/lib/digest-md5/getsubopt.o
/lib/digest-md5/libgsasl-digest_md5.la
/lib/digest-md5/mechinfo.lo
/lib/digest-md5/mechinfo.o
/lib/digest-md5/nonascii.lo
/lib/digest-md5/nonascii.o
/lib/digest-md5/parser.lo
/lib/digest-md5/parser.o
/lib/digest-md5/printer.lo
/lib/digest-md5/printer.o
/lib/digest-md5/qop.lo
/lib/digest-md5/qop.o
/lib/digest-md5/server.lo
/lib/digest-md5/server.o
/lib/digest-md5/session.lo
/lib/digest-md5/session.o
/lib/digest-md5/test-parser
/lib/digest-md5/test-parser.log
/lib/digest-md5/test-parser.o
/lib/digest-md5/test-parser.trs
/lib/digest-md5/test-suite.log
/lib/digest-md5/test_parser-test-parser.o
/lib/digest-md5/validate.lo
/lib/digest-md5/validate.o
/lib/external/client.lo
/lib/external/client.o
/lib/external/libgsasl-external.la
/lib/external/mechinfo.lo
/lib/external/mechinfo.o
/lib/external/server.lo
/lib/external/server.o
/lib/gl/.gitignore
/lib/gl/alloca.h
/lib/gl/byteswap.h
/lib/gl/errno.h
/lib/gl/fcntl.h
/lib/gl/inttypes.h
/lib/gl/liblgl.la
/lib/gl/limits.h
/lib/gl/stdint.h
/lib/gl/stdio.h
/lib/gl/stdlib.h
/lib/gl/string.h
/lib/gl/sys/
/lib/gl/time.h
/lib/gl/unistd.h
/lib/gl/wchar.h
/lib/gs2/client.lo
/lib/gs2/client.o
/lib/gs2/gs2asn1.lo
/lib/gs2/gs2asn1.o
/lib/gs2/gs2helper.lo
/lib/gs2/gs2helper.o
/lib/gs2/libgsasl-gs2.la
/lib/gs2/mechinfo.lo
/lib/gs2/mechinfo.o
/lib/gs2/server.lo
/lib/gs2/server.o
/lib/gssapi/client.lo
/lib/gssapi/client.o
/lib/gssapi/libgsasl-gssapi.la
/lib/gssapi/mechinfo.lo
/lib/gssapi/mechinfo.o
/lib/gssapi/server.lo
/lib/gssapi/server.o
/lib/libgsasl.pc
/lib/login/client.lo
/lib/login/client.o
/lib/login/libgsasl-login.la
/lib/login/mechinfo.lo
/lib/login/mechinfo.o
/lib/login/server.lo
/lib/login/server.o
/lib/m4/
/lib/ntlm/libgsasl-ntlm.la
/lib/ntlm/mechinfo.lo
/lib/ntlm/mechinfo.o
/lib/ntlm/ntlm.lo
/lib/ntlm/ntlm.o
/lib/openid20/client.lo
/lib/openid20/client.o
/lib/openid20/libgsasl-openid20.la
/lib/openid20/mechinfo.lo
/lib/openid20/mechinfo.o
/lib/openid20/server.lo
/lib/openid20/server.o
/lib/plain/client.lo
/lib/plain/client.o
/lib/plain/libgsasl-plain.la
/lib/plain/mechinfo.lo
/lib/plain/mechinfo.o
/lib/plain/server.lo
/lib/plain/server.o
/lib/saml20/client.lo
/lib/saml20/client.o
/lib/saml20/libgsasl-saml20.la
/lib/saml20/mechinfo.lo
/lib/saml20/mechinfo.o
/lib/saml20/server.lo
/lib/saml20/server.o
/lib/scram/client.lo
/lib/scram/client.o
/lib/scram/libgsasl-scram.la
/lib/scram/mechinfo.lo
/lib/scram/mechinfo.o
/lib/scram/parser.lo
/lib/scram/parser.o
/lib/scram/printer.lo
/lib/scram/printer.o
/lib/scram/server.lo
/lib/scram/server.o
/lib/scram/tokens.lo
/lib/scram/tokens.o
/lib/scram/tools.lo
/lib/scram/tools.o
/lib/scram/validate.lo
/lib/scram/validate.o
/lib/securid/client.lo
/lib/securid/client.o
/lib/securid/libgsasl-securid.la
/lib/securid/mechinfo.lo
/lib/securid/mechinfo.o
/lib/securid/server.lo
/lib/securid/server.o
/lib/src/base64.lo
/lib/src/base64.o
/lib/src/callback.lo
/lib/src/callback.o
/lib/src/crypto.lo
/lib/src/crypto.o
/lib/src/done.lo
/lib/src/done.o
/lib/src/error.lo
/lib/src/error.o
/lib/src/free.lo
/lib/src/free.o
/lib/src/gsasl-version.h
/lib/src/init.lo
/lib/src/init.o
/lib/src/libgsasl-*.def
/lib/src/libgsasl.la
/lib/src/listmech.lo
/lib/src/listmech.o
/lib/src/md5pwd.lo
/lib/src/md5pwd.o
/lib/src/mechname.lo
/lib/src/mechname.o
/lib/src/mechtools.lo
/lib/src/mechtools.o
/lib/src/property.lo
/lib/src/property.o
/lib/src/register.lo
/lib/src/register.o
/lib/src/saslprep.lo
/lib/src/saslprep.o
/lib/src/suggest.lo
/lib/src/suggest.o
/lib/src/supportp.lo
/lib/src/supportp.o
/lib/src/version.lo
/lib/src/version.o
/lib/src/xcode.lo
/lib/src/xcode.o
/lib/src/xfinish.lo
/lib/src/xfinish.o
/lib/src/xstart.lo
/lib/src/xstart.o
/lib/src/xstep.lo
/lib/src/xstep.o
/libtool
/m4/.gitignore
/m4/gnulib-cache.m4
/m4/gtk-doc.m4
/m4/libtool.m4.orig
/maint.mk
/po/*.gmo
/po/*.po
/po/.gitignore
/po/.reference/
/po/LINGUAS
/po/Makevars
/po/POTFILES
/po/gsasl.pot
/po/remove-potcdate.sed
/po/stamp-po
/src/callbacks.o
/src/gsasl
/src/gsasl.o
/src/gsasl_cmd.c
/src/gsasl_cmd.h
/src/imap.o
/src/libgsasl_cmd.la
/src/libgsasl_cmd_la-gsasl_cmd.lo
/src/libgsasl_cmd_la-gsasl_cmd.o
/src/smtp.o
/stamp-h1
/tests/*.log
/tests/*.trs
/tests/cram-md5
/tests/cram-md5.o
/tests/crypto
/tests/crypto.o
/tests/digest-md5
/tests/digest-md5.o
/tests/errors
/tests/errors.o
/tests/external
/tests/external.o
/tests/gs2-krb5
/tests/gs2-krb5.o
/tests/gssapi
/tests/gssapi.o
/tests/libutils.la
/tests/md5file
/tests/md5file.o
/tests/name
/tests/name.o
/tests/openid20
/tests/openid20.o
/tests/readnz
/tests/readnz.o
/tests/saml20
/tests/saml20.o
/tests/scram
/tests/scram-nopasswd
/tests/scram-nopasswd.o
/tests/scram-sha256
/tests/scram-sha256.o
/tests/scram-simple
/tests/scram-simple.o
/tests/scram.o
/tests/scramplus
/tests/scramplus.o
/tests/simple
/tests/simple.o
/tests/startcb
/tests/startcb.o
/tests/suggest
/tests/suggest.o
/tests/symbols
/tests/symbols.o
/tests/utils.lo
/tests/utils.o
/windows/build-x64/
/windows/build-x86-kfw322/
/windows/build-x86/
/windows/dist/
/windows/gsasl-*-x64.zip
/windows/gsasl-*-x64.zip.sig
/windows/gsasl-*-x86-kfw322.zip
/windows/gsasl-*-x86-kfw322.zip.sig
/windows/gsasl-*-x86.zip
/windows/gsasl-*-x86.zip.sig
/windows/inst-x64/
/windows/inst-x86-kfw322/
/windows/inst-x86/
/windows/kfw322sdkx86/
/windows/kfw322x86/
/windows/src/
/windows/tmp/
Makefile
Makefile.in
